Flask==3.0.0
python-dotenv==1.0.0
supabase==2.3.0
pandas==2.2.0
numpy==1.26.2
plotly==5.18.0
scikit-learn==1.3.2
prophet
vaderSentiment==3.3.2
joblib==1.3.2
networkx==3.2.1
requests==2.31.0
tensorflow==2.15.0
gunicorn==21.2.0
